<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="/materialize/extensions/HTMLElement.html" rel="component" />
    <meta name="robots" content="noindex, follow" />
    <style>
        mat-drawer-content {
            display: inline-block;
            width: 100%;
        }
    </style>
    <script>

        define((template) => {

            class MatDrawerContent extends MaterializeHTMLElement {

                constructor() {
                    super(template);
                }

            }

            customElements.define("mat-drawer-content", MatDrawerContent);

        });

            //# sourceURL=/material/components/mat-drawer-content.html


    </script>
</head>
<body>
<template>
    <div content></div>
</template>
</body>
</html>



