<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="/materialize/extensions/HTMLElement.html" rel="component" />
    <meta name="robots" content="noindex, follow" />
    <meta name="robots" content="noindex, follow" />
    <style>

        mat-drawer-container {
            display: block;
        }

        @media only screen and (min-width: 600px) {
            .nav {
                display: flex;
            }
        }
    </style>
    <script>

        define((template) => {

            class MatDrawerContainer extends MaterializeHTMLElement {

                constructor() {
                    super(template);
                }

            }

            customElements.define("mat-drawer-container", MatDrawerContainer);

        });

                //# sourceURL=/material/components/mat-drawer-container.html


    </script>
</head>
<body>
<template>
    <div style="height: calc(100vh - 48px); position: relative;" class="nav">
        <div select="mat-drawer"></div>
        <div select="mat-drawer-content" style="flex-grow: 1"></div>
    </div>
</template>
</body>
</html>




