<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/materialize/extensions/HTMLElement.html" rel="component">
    <style>

        mat-buttons {
            display: block;
        }

    </style>
    <script>

        define((template) => {

            class MatButtons extends MaterializeHTMLElement {

                constructor() {
                    super(template);
                }

            }

            customElements.define("mat-buttons", MatButtons);

        });

    </script>
</head>
<body>
<template>
    <div content></div>
</template>
</body>
</html>



