<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="/materialize/materialize.html" rel="component" />
    <link href="/materialize/extensions/HTMLElement.html" rel="component" />
    <meta name="robots" content="noindex, follow" />
    <style>
        mat-tabs {
            display: block;
        }
    </style>
    <script>

        define((template) => {

            class MatTabs extends MaterializeHTMLElement {
                constructor() {
                    super(template);
                }

                get selected() {
                    for (let i = 0; i < this.children.length; i++) {
                        if (this.children[i].selected) {
                            return i;
                        }
                    }
                    return -1;
                }

                select(value) {
                    this.output.get("select").fire(value);
                }
            }

            customElements.define("mat-tabs", MatTabs);

        });

            //# sourceURL=/material/components/mat-tabs.html

    </script>
</head>
<body>
<template>
    <div style="display: flex; width: 100%">
        <div style="display: flex;" content></div>
        <div style="border-bottom: 1px solid var(--main-grey-color); height: 48px; flex-grow: 1"></div>
    </div>
</template>
</body>
</html>




