<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="/materialize/extensions/HTMLElement.html" rel="component" />
    <meta name="robots" content="noindex, follow" />
    <style>

        mat-option {
            display: block;
        }

            mat-option div.item:hover {
                background-color: var(--main-grey-color);
            }

            mat-option div.item {
                height: 38px;
                line-height: 38px;
                padding-left: 12px;
            }
    </style>
    <script>

        define((template) => {

            class MatOption extends MaterializeHTMLElement {

                constructor() {
                    super(template);
                }

            }

            customElements.define("mat-option", MatOption);

        });

    </script>
</head>
<body>
<template>
    <div class="item" content></div>
</template>
</body>
</html>




